<section id="contact" class="container navItem">
  <div class="row ">

    <h2>Let's Get in Contact</h2>
    <form action="https://formspree.io/mykalvrm" method="POST">
      <input type="text" name="name" placeholder="Your Name..." class="transition enter text-center" required>
      <input type="email" name="email" placeholder="Your Email..." class="transition enter text-center" required>
      <p>What kind of project would you like to work on?</p>
      <p><small>(Yes, you can select more than one.)</small></p>

      <input type="checkbox" class="hidden" data-continue="true" id="checkbox-logo" name="checkbox-logo" value="" >
      <input type="checkbox" class="hidden" data-continue="true" id="checkbox-branding" name="checkbox-branding" value="" >
      <input type="checkbox" class="hidden" data-continue="true" id="checkbox-audit" name="checkbox-audit" value="" >
      <input type="checkbox" class="hidden" data-continue="false" id="checkbox-hello" name="checkbox-hello" value="" ><br>
      <div class="container check-container">
        <label class="transition module "  for="checkbox-logo">
          Logo Design
        </label>
        <label class="transition module "  for="checkbox-branding">
          Brand Identity Design
        </label>
        <label class="transition module "  for="checkbox-audit">
          Brand Audit
        </label>
      </div>
      <p class=" questionnaire-part-1 project" id="next">

        We are a company that focuses on helping your company reach it's goals through visual design. When starting a project with us, in order for us to get the conversation started while focusing on delivering value to you and your company, we have a few questions to get started.

      </p>
      <div class="continue project questionnaire-part-2">
        <input type="text" name="Phone" class="transition enter text-center" value="" placeholder="e.g (+1 360 555 555)">
        <h4 class="enter" > What is a good phone number to reach you at?</h4>
      </div>
      <div class="continue project questionnaire-part-3">
        <input type="text" name="Source" class="transition enter text-center" value="" placeholder="Referral? Twitter? Google Search?" required>
        <h4 class="enter" > How did you hear about So Magnetic?</h4>
      </div>
      <div class="continue project questionnaire-part-4">
        <input type="text" name="Business-Name" class="transition enter text-center" value="" placeholder="e.g. (Avenue Editorial, Inc.)" required>
        <div class="enter" >
          <h4> What is the name of your business or the company you work for?</h4>
          <p> This needs to be case sensitive, and exactly as you need to have it designed.</p>
        </div>
      </div>
      <div id="special" class="continue project questionnaire-part-5">
      <textarea name="Organization-type" class="transition enter text-center "  placeholder="The more specific the better."></textarea>
      <h4 class="enter" > What does your organization do and what excites you most about it?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Channels" class="transition enter text-center" value="" placeholder="e.g. Word of mouth, advertisements, Social Media" required>
        <h4 class="enter" > How do people find out about your organization?</h4>
      </div>
      <div class="continue project questionnaire-part-4">
        <input type="text" name="Uniqueness" class="transition enter text-center" value="" placeholder="What makes you unique?" required>
        <h4 class="enter" >How does what you do differ from your competition?</h4>
      </div>
      <div class="continue project questionnaire-part-6">
        <input type="radio" class="hidden" name="org-size" id="org-size-1" value="1-10 people">
        <input type="radio" class="hidden" name="org-size" id="org-size-2" value="10-20 people">
        <input type="radio" class="hidden" name="org-size" id="org-size-3" value="20-50 people">
        <input type="radio" class="hidden" name="org-size" id="org-size-4" value="100 plus">
        <div class="container check-container">
          <label class="module four" for="org-size-1"> 1-10 people</label>
          <label class="module four" for="org-size-2"> 10-20 people</label>
          <label class="module four" for="org-size-3"> 20-50 people</label>
          <label class="module four" for="org-size-4">100 + people</label>
        </div>
        <h4 class="enter" > How big is your organization?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Audience" class="transition enter text-center" value="" placeholder="e.g. (middle aged adults who haven't given up being a teenager)" required>
        <h4 class="enter" > Who is the audience you are trying to reach?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Attributes" class="transition enter text-center" value="" placeholder="e.g. Trustworthy, Energetic, Formal, Casual" required>
        <h4 class="enter" > What attributes does your organization value?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Admiration" class="transition enter text-center" value="" placeholder="e.g. Urban Outfitters, Starbucks, HBO, Instagram" required>
        <h4 class="enter" > What brands do you admire in your industry?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Dates" class="transition enter text-center" value="" placeholder="Specific dates are helpful here">
        <h4 class="enter" >Is there a special event or launch date that is going to drive the deadline of this project?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Success" class="transition enter text-center" value="" placeholder="More recurring revenue, pre-launch sales, etc." required>
        <h4 class="enter" >What does the success from this project look like to you?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Failure" class="transition enter text-center" value="" placeholder="What things are on the line if this isn't effective?" required>
        <h4 class="enter" >How would this project impact your business should it fail?</h4>
      </div>
      <div class="continue project questionnaire-part-6">
        <input type="radio" class="hidden" name="hire-before" id="hire-before-1" value="yes">
        <input type="radio" class="hidden" name="hire-before" id="hire-before-2" value="no">
        <div class="container check-container">
          <label class="module" for="hire-before-1">Yes</label>
          <label class="module" for="hire-before-2">No</label>
        </div>
        <h4 class="enter" >Have you worked with a design agency in the past (this project or any before)?</h4>
      </div>
      <div class="continue project questionnaire-part-7">
        <input type="text" name="Us Specifically" class="transition enter text-center" value="" placeholder="Why did you choose So Magnetic?" required>
        <h4 class="enter" >Why do you want to work with So Magnetic specifically?</h4>
      </div>
      <div class="questionnaire-part-1 continue message project" >
      <textarea name="additional-info" placeholder="Your Message..." class="transition enter text-center " ></textarea>
      <h4 class="message enter"><span class="hidden project">Is there any additional information that needs to be taken into consideration?</span><span class="hidden message">How's it going? :D</span></h4>
      <input type="submit" class="button continue project message" value="Submit!" id="submit">  
      </div>
      
      <input type="hidden" name="_next" value="https://somagnetic.com/continue" />
      <input type="text" name="_gotcha" class="hidden" /><br/><br/>
      <p class="continue project"> Thank you! This filled form here will help me keep your organization's goals and audience in the forefront of the design.</p>

    </form>
   </div>
  <!-- -->
</section>
