---
layout: default
---

<header class="container case-study" id="{{page.study_id}}">
  <article class="row">
    <div class="module">
    </div>
    <div class="module">

        <h3>Case Study:</h3>
        <h1>{{page.title}}</h1>
        <p>{{page.blurb}}</p>
    </div>
  </article>
</header>
<section class="container">
  <article class="row">
  <div class="module">
  <img src="{{site.baseurl}}/assets/img/case-study{{page.svg_logo}}" alt="{{page.description}}" class="client-logo">
    <h3>Scope of the Project:</h3>
    <p>{{page.subtitle}}</p>
    <h3>Our Main Goals:</h3>
    {% for paragraph in page.goals %}<p>{{paragraph}}</p>{% endfor %}
    <h3>The Challenge</h3>
    {% for paragraph in page.challenge %}<p>{{paragraph}}</p>{% endfor %}
    <h3>What We Accomplished</h3>
    <p>{{page.outcome}}</p>
    {% if page.kind_words %}
      <p>&ldquo; {{page.kind_words}} &rdquo;</p>
      <p class="word-highlight"><strong>{{page.who}}</strong></p>
      <p>{{page.occupation}}</p>
      <br/>
      <br/>
    {% endif %}
    {% if page.link_to %}
  <h6><a href="{{page.link_to}}" target="_blank" rel="nofollow">See it live</a></h6>
    {% endif %}
    <h3>Get started on a project like this with your company!</h3>
    <p>We're always excited to hear what people are working on, and would love to see what you have in mind.</p>
    <div class="button secondary start">
      Send us a message!
    </div>
  </div>
    <div class="module">
      {% for images in page.study_images %}
      {% assign iteration = forloop.index0 1%}
        <img src="{{site.baseurl}}{{page.image_path}}{{page.study_images[iteration]}}" alt="">
      {% endfor %}
    </div>
  </article>
</section>
</section>
