---
layout: default
---

<header class="container case-study" id="{{page.study_id}}">
  <article class="row">
    <div class="module">
    </div>
    <div class="module">

        <h3>Case Study:</h3>
        <h1>{{page.title}}</h1>
        <p>{{page.blurb}}</p>
    </div>
  </article>
</header>
<section class="container">
  <article class="row">
  <div class="module">
    <h4>Project:</h4>
    <h5>{{page.project}}</h5>
    <p><strong class="word-highlight"><small>Team:</small></strong></p>
    <ul class="team">
      {% for team in page.team %}
      {% assign iteration = forloop.index0 1%}
      <li><strong>{{page.role[iteration]}} - {{team}}</strong></li>
      {% endfor %}
    </ul>
    <p><strong class="word-highlight"><small>Project Scope</small></strong></p>
    <p>{{page.subtitle}}</p>
    <h4>Our Main Goals:</h4>
    {% for paragraph in page.goals %}<p>{{paragraph}}</p>{% endfor %}
    <h4>The Challenge</h4>
    {% for paragraph in page.challenge %}<p>{{paragraph}}</p>{% endfor %}
    {% if page.kind_words %}
      <p>&ldquo; {{page.kind_words}} &rdquo;</p>
      <p class="word-highlight"><strong>{{page.who}}</strong></p>
      <p>{{page.occupation}}</p>
      <br/>
      <br/>
    {% endif %}
    <h4>The Opportunity and Process</h4>

      {{page.content}}
    <h4>What We Accomplished</h4>
    <img src="{{site.baseurl}}/assets/img/case-study{{page.svg_logo}}" alt="{{page.description}}" class="client-logo">

    {% for images in page.logo_additional %}
    {% assign iteration = forloop.index0 %}
    <img src="{{site.baseurl}}/assets/img/case-study{{page.logo_additional[iteration]}}" alt="{{page.description}}" class="client-logo">

    {% endfor %}
    {% for paragraph in page.outcome %}<p>{{paragraph}}</p>{% endfor %}
    {% if page.link_to %}
  <h4><a href="{{page.link_to}}" target="_blank" rel="nofollow">See it live</a></h4>
    {% endif %}
    <h3>Get started on a project like this with your company!</h3>
    <p>We're always excited to hear what people are working on, and would love to see how we can help you reach your goals through designing with your business!</p>
    <div class="button secondary start">
      Start a project with us
    </div>
  </div>
    <div class="module">
      {% for images in page.study_images %}
      {% assign iteration = forloop.index0 1%}
        <img src="{{site.baseurl}}{{page.image_path}}{{page.study_images[iteration]}}" alt="">
      {% endfor %}
    </div>
  </article>
</section>
