<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description | truncate: 200}}" />
    <link rel="stylesheet" href="https://use.typekit.net/guj8dnj.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/master.css" media="screen"/>
    <link rel="author" href="https://plus.google.com/100706644054305445787" />
    <meta name="theme-color" content="#353263" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href=" {{ site.url }}{{ page.url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@itssomagnetic" />
    <meta name="twitter:creator" content="@itssomagnetic" />
    <meta name="twitter:url" content="https://somagnetic.com" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.description | truncate: 196}}" />
    <meta name="twitter:image" content="{% if page.cdn %}{{page.cdn}}{% elsif page.index_image %}https://somagnetic.com{{page.index_image}}{% else %}https://somagnetic.com/assets/img/index.jpg{% endif %}" />
    <meta name="p:domain_verify" content="4990647bc88b5df93fc24e07f254d0a9"/>
    <meta property="fb:app_id" content="1076166062457470" />
    <meta property="og:url" content="{{site.url}}/{{page.id}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="{% if page.cdn %}{{page.cdn}}{% elsif page.index_image %}https://somagnetic.com{{page.index_image}}{% else %}https://somagnetic.com/assets/img/index.jpg{% endif %}" />
    <meta property="og:description" content="{{page.description | truncate: 167}}" />
    <meta property="og:site_name" content="So Magnetic" />
    <meta property="og:locale" content="en_US" />
  </head>
  <body class="main">
    <main id="0">
      <nav class="container" >
        <article class="row">
          {% if page.url =='/' %}{% else %}<a href="{{site.baseurl}}/"> {% endif %}<img src="{{site.baseurl}}/assets/img/so-magnetic-icon-color.svg" alt="Strong Branding and Logo Design for companies like startups, mergers, brands in transition, focused on brand strategy like increasing revenue and repositioning in the market." class="logo" id="logo">{% if page.url =='/' %}{% else %}</a>{% endif %}
          <ul class="module menu">
            <li><a href="{% if page.url =='/' %}{% else %}{{site.baseurl}}/{% endif %}#work" class=" navItem is-opened">Our Work</a> </li>
            <li><a href="{% if page.url =='/' %}{% else %}{{site.baseurl}}/{% endif %}#services" class=" navItem is-opened">Our Services</a> </li>
            <li><a href="{% if page.url =='/' %}{% else %}{{site.baseurl}}/{% endif %}#about" class=" navItem is-opened">About Us</a> </li>
            <li><a href="{% if page.url =='/' %}{% else %}{{site.baseurl}}/{% endif %}#process" class=" navItem is-opened">Design Process</a> </li>
            <li class="button secondary toggle start" id="start">Start a Project</li>

          </ul>
        </article>
      </nav>

      {{content}}
  		<svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
  			<path class="shape-overlays__path"></path>
  			<path class="shape-overlays__path"></path>
  			<path class="shape-overlays__path"></path>
  		</svg>
      {% include contact.html %}
      <footer class="main container">
      <article class="row">
          <div class="landing module">
            <h6>Copyright 2017 &mdash; {{ site.time | date: '%Y' }} of So Magnetic</h6>
            <h6> &mdash;  <a href="{{site.baseurl}}/archive/privacy-policy">Privacy Policy</a></h6>
            <h6> &mdash;  <a href="{{site.baseurl}}/careers">Careers</a></h6>
            <h6> &mdash;  <a href="{{site.baseurl}}"> <span>Home </i></a></h6>
            <h6> &mdash;  <a href="https://twitter.com/itssomagnetic" target="_blank"> <span>Twitter </i></a></h6>
            <h6> &mdash;  <a href="https://instagram.com/itssomagnetic" target="_blank"> <span>Instagram </i></a> </h6>
        </div>
      </article>
    </footer>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/scripts.js">
    </script>
</html>
